extends ../layout

block content
    .text-center    

        br
        br       
        h2.section-heading.text-uppercase Restaurar password
        br
    .container.py-5
        form(action=`/resetPassword/${objUsuario._id}` method='post')
            .form-group
                label(for='exampleInputEmail1') Email address
                input#exampleInputEmail1.form-control(type='email' aria-describedby='emailHelp' placeholder='Enter email' name='txtEmail' readonly value= objUsuario.email)
                small#emailHelp.form-text.text-muted We&apos;ll never share your email with anyone else.
            .form-group
                label(for='exampleInputPassword1') Password
                input#exampleInputPassword1.form-control(type='password' placeholder='Password' name='txtPassword' required='required' data-validation-required-message='Please enter password.')
                p.help-block.text-danger
            .form-group
                label(for='exampleInputPassword2') Verify
                input#exampleInputPassword2.form-control(type='password' placeholder='Password (again)' name='txtPassword_Confirm' required='required' data-validation-required-message='Please enter password again.')
                if(errors.passwordConfirm)
                    small#passwordConfirmHelp.text-danger
                        = errors.passwordConfirm
                p.help-block.text-danger

            button.btn.btn-primary(type='submit') Guardar


            
        
            

