extends ../layout

block content   
    a(href='/bicicletas') back
    .text-center    

        br
        br       
        h2.section-heading.text-uppercase Actualizar bicicleta
        br
        br
        h3.section-subheading.text-muted Actualizar datos de la bicicleta
        
        br
    if(errors)
        p.help-block.text-danger 
            = errors.codeName
        p.help-block.text-danger 
            = errors.name
    .container.py-5
        form#contactForm(action=`/bicicletas/update/${objBicicleta._id}` method='post')
            .row.align-items-stretch.mb-5
            .col-md-12
                .form-group                
                    input#idBici.form-control(type='text' placeholder='Id Bicicleta' name='txtId' value= objBicicleta.code required='required' data-validation-required-message='Please enter id.')
                    p.help-block.text-danger
                .form-group
                    input#color.form-control(type='text' placeholder='Color bicicleta' name='txtColor' value= objBicicleta.color required='required' data-validation-required-message='Please enter color.')
                    p.help-block.text-danger
                .form-group
                    input#modelo.form-control(type='text' placeholder='Modelo Bicicleta' name='txtModelo' value= objBicicleta.modelo required='required' data-validation-required-message='Please enter model.')
                    p.help-block.text-danger                
                .form-group
                    input#latitud.form-control(type='text' placeholder='Latitud Bicicleta' name='txtLatitud' value= objBicicleta.ubicacion[0] required='required' data-validation-required-message='Please enter model.')
                    p.help-block.text-danger
                .form-group
                    input#longitud.form-control(type='text' placeholder='Modelo Bicicleta' name='txtLongitud' value= objBicicleta.ubicacion[1] required='required' data-validation-required-message='Please enter model.')
                    p.help-block.text-danger
            .text-center
            #success
            button#sendMessageButton.btn.btn-primary.btn.text-uppercase(type='submit'  value='ok') Actualizar datos
            br
            br